:root {
	--color-dark01: #f0f0f0;
	--color-dark02: #d2d2d2;
	--color-dark03: #b4b4b4;
	--color-dark04: #969696;
	--color-dark05: #696969;
	--color-dark06: #545454;
	--color-dark07: #3f3f3f;
	--color-dark08: #2a2a2a;
	--color-dark09: #151515;
	--color-dark10: #000000;

	--color-blue01: #e5f8ff;
	--color-blue02: #b2ebff;
	--color-blue03: #7fdfff;
	--color-blue04: #4cd2ff;
	--color-blue05: #00bfff;
	--color-blue06: #00abe5;
	--color-blue07: #0085b2;
	--color-blue08: #005f7f;
	--color-blue09: #00394c;
}

.wrapper_inputs {
	width: 75%;
	padding: 2em;
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-blue07);
}

.box_inputs {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.4em;
}

.box_task {
	width: 70%;
	display: flex;
	flex-direction: column;
}

.label {
	margin-bottom: 0.2em;
	color: var(--color-blue04);
}

.input {
	padding: 0.4em;
	font-size: 1.4em;
	background: none;
	border: none;
	outline: none;
	color: var(--color-blue03);
	border-bottom: 0.04em solid var(--color-blue05);
}

.box_btn {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.btn {
	position: relative;
	width: 70%;
	padding: 0.4em 1em;
	font-size: 1.4em;
	color: var(--color-blue02);
	background: none;
	border: 0.04em solid var(--color-blue05);
	cursor: pointer;
	z-index: 1;
	overflow: hidden;
}

.btn::before {
	position: absolute;
	content: '';
	width: 150%;
	height: 130%;
	background-color: var(--color-blue08);
	transform: translate(-130%, -28%);
	z-index: -1;
	transition: all 0.2s ease-in-out;
}

.btn:hover::before {
	transform: translate(-90%, -28%);
}

.btn::after {
	position: absolute;
	content: '';
	width: 150%;
	height: 130%;
	background-color: var(--color-blue08);
	transform: translate(30%, -28%);
	z-index: -1;
	transition: all 0.2s ease-in-out;
}

.btn:hover::after {
	transform: translate(-10%, -28%);
}

.box_info {
	width: 100%;
	padding: 1em 0em 0em 0em;
	display: flex;
	justify-content: space-between;
}

.state_info_one,
.state_info_two {
	font-size: 1.2em;
	color: var(--color-blue06);
}

.state_info_one {
	width: 70%;
	text-align: left;
}
.state_info_two {
	width: 30%;
	text-align: right;
}

.span_state {
	font-weight: bold;
	color: var(--color-blue05);
}
